# Type to see number of commits per user: git shortlog -n -s

# Edward Atkin
Edward Atkin <edhuthwaite@aol.com> EdAtkin <edhuthwaite@aol.com>
Edward Atkin <edhuthwaite@aol.com> EdAtkin <35494466+EdAtkin@users.noreply.github.com>

# Kamil Skwarczynski
Kamil Skwarczynski <skwarczynskikamil@gmail.com> Kamil <45295406+KSkwarczynski@users.noreply.github.com>

# Henry Wallace
Henry Wallace <henryisrael08@gmail.com> henry-israel <henryisrael08@gmail.com>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <67589487+henry-wallace-phys@users.noreply.github.com>
