# Type to see number of commits per user: git shortlog -n -s

# Edward Atkin
Edward Atkin <edhuthwaite@aol.com> EdAtkin <edhuthwaite@aol.com>
Edward Atkin <edhuthwaite@aol.com> EdAtkin <35494466+EdAtkin@users.noreply.github.com>

# Daniel Barrow
Daniel Barrow <danbarrow257@gmail.com> dbarrow257 <danbarrow257@gmail.com>
Daniel Barrow <danbarrow257@gmail.com> dbarrow257 <31003009+dbarrow257@users.noreply.github.com>

# Kamil Skwarczynski
Kamil Skwarczynski <skwarczynskikamil@gmail.com> Kamil <45295406+KSkwarczynski@users.noreply.github.com>
Kamil Skwarczynski <skwarczynskikamil@gmail.com> Kamil Skwarczynski <kamilskw@bg12105.int.ets1.calculquebec.ca>
Kamil Skwarczynski <skwarczynskikamil@gmail.com> Kamil Skwarczynski <kamilskw@cdr293.int.cedar.computecanada.ca>

# Henry Wallace
Henry Wallace <henryisrael08@gmail.com> henry-israel <henryisrael08@gmail.com>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <67589487+henry-wallace-phys@users.noreply.github.com>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <hwallace@linappserv6.pp.rhul.ac.uk>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <henry.wallace@rhul.ac.uk>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <henryi@beluga3.int.ets1.calculquebec.ca>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <henryi@beluga2.int.ets1.calculquebec.ca>
Henry Wallace <henryisrael08@gmail.com> Henry Wallace <henryi@beluga4.int.ets1.calculquebec.ca>

# Michael Reh
Michael Reh <michael.reh@colorado.edu> mreh528 <michael.reh@colorado.edu>
Michael Reh <michael.reh@colorado.edu> mreh528 <54082110+mreh528@users.noreply.github.com>

# Ewan Miller
Ewan Miller <ewan.miller@kcl.ac.uk> Ewan <ewan.miller@kcl.ac.uk>

#Yashwanth S Prabhu
Yashwanth S Prabhu  <yashwanthsprabhu@gmail.com> yash-quark <yashwanthsprabhu@gmail.com>
Yashwanth S Prabhu  <yashwanthsprabhu@gmail.com> Yashwanth S Prabhu <36967264+yash-quark@users.noreply.github.com>
