/* MaCh3 doxygen HTML_EXTRA_STYLESHEET */

div.contents {
    max-width: 100em;
    margin-right: 5em;
    margin-left: 5em;
}

.mach3-footer {
    background-image: url('OscPattern.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
    color: #333;
}

.mach3-footer .last-updated {
    font-size: 0.9em;
    color: #6c757d;
}
