# Performs unit and integration testing

name: Validations CI

# The events that trigger the workflow
on:
  pull_request:
    branches: [ develop ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    name: ${{ matrix.name }}

    strategy:
      fail-fast: false  # Prevents cancellation of remaining jobs if one fails
      matrix:
        include:
          - name: Reweight Validations
            test: MaCh3CLI --ReweightValidations
            compilation_flags: -DMaCh3Tutorial_UNITTESTS_ENABLED=TRUE

          - name: Covariance Validations
            test: MaCh3CLI --CovarianceValidations
            compilation_flags: -DMaCh3Tutorial_UNITTESTS_ENABLED=TRUE

          - name: Fitter Validations
            test: MaCh3CLI --FitterValidations
            compilation_flags: -DMaCh3Tutorial_UNITTESTS_ENABLED=TRUE

          - name: NuMCMC Tools Validations
            test: MaCh3CLI --NuMCMCToolsValidations
            compilation_flags: -DMaCh3Tutorial_UNITTESTS_ENABLED=TRUE

          - name: Fitter Validations
            test: MaCh3CLI --FitterValidations
            compilation_flags: -DMaCh3Tutorial_UNITTESTS_ENABLED=TRUE -DMaCh3Tutorial_LOW_MEMORY_STRUCTS_ENABLED=ON

    container:
      image: ghcr.io/mach3-software/mach3:alma9latest

    steps:
      - name: Set MACH3_BRANCH
        run: echo "MACH3_BRANCH=${GITHUB_HEAD_REF}" >> "$GITHUB_ENV"
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run MaCh3 Validations
        uses: ./.github/actions/mach3-tutorial
        with:
          mach3_branch: "$MACH3_BRANCH"
          compilation_flags: ${{ matrix.compilation_flags }}

      - name: Validations
        run: |
          source /opt/MaCh3Validations/build/bin/setup.MaCh3.sh
          source /opt/MaCh3Validations/build/bin/setup.MaCh3Tutorial.sh
          cd /opt/MaCh3Validations/build
          ${{ matrix.test }}
