# .github/workflows/intel-build.yml

name: 'Intel ICPX Build'

# Trigger on a push to the 'intel_icpx' branch
on:
  push:
    branches:
      - intel_icpx

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true      

jobs:
  run-local-script:
    # Whitelist of allowed GitHub users
    if: github.actor == 'laurilaatu' || github.actor == 'alexanderrichards' || github.actor == 'EdAtkin'

    runs-on: [self-hosted, icpx]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Run the ICPX build script
        run: |

          chmod +x /home/hep/llaatu/mach3/MaCh3Utils/start_build.sh
          
          /home/hep/llaatu/mach3/MaCh3Utils/start_build.sh emulator /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/

          chmod +x /home/hep/llaatu/mach3/MaCh3Utils/tutorial_build.sh
          
          source /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/build/bin/setup.MaCh3.sh

          /home/hep/llaatu/mach3/MaCh3Utils/tutorial_build.sh emulator



        shell: bash


      - name: Run Tutorial
        run: |
          export QUARTUS_ROOTDIR_OVERRIDE=/opt/intelFPGA_pro/23.1.0/quartus/
          export LM_LICENSE_FILE=5280@licsrv00.hep.ph.ic.ac.uk

          . /opt/intel/oneapi/2025.0/oneapi-vars.sh --force

          source /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/build/bin/setup.MaCh3.sh
          source /home/hep/llaatu/mach3/MaCh3Tutorial/build/bin/setup.MaCh3Tutorial.sh

          cd /home/hep/llaatu/mach3/MaCh3Tutorial/build/
          ./CIValidations/SplineValidations
          cp out.txt out_$(date +%s).txt
        shell: bash


      - name: Build for hardware
        run: |

          chmod +x /home/hep/llaatu/mach3/MaCh3Utils/start_build.sh
          
          /home/hep/llaatu/mach3/MaCh3Utils/start_build.sh hardware /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/

          chmod +x /home/hep/llaatu/mach3/MaCh3Utils/tutorial_build.sh
          
          source /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/build/bin/setup.MaCh3.sh

          /home/hep/llaatu/mach3/MaCh3Utils/tutorial_build.sh hardware



        shell: bash


      - name: Run Tutorial on hardware
        run: |
          export QUARTUS_ROOTDIR_OVERRIDE=/opt/intelFPGA_pro/23.1.0/quartus/
          export LM_LICENSE_FILE=5280@licsrv00.hep.ph.ic.ac.uk

          . /opt/intel/oneapi/2025.0/oneapi-vars.sh --force
          aocl program acl0 /opt/oneapi-asp/ia840f/bringup/aocxs/ofs_ia840f_usm.aocx
          aocl program acl1 /opt/oneapi-asp/ia840f/bringup/aocxs/ofs_ia840f_usm.aocx
          source /home/hep/llaatu/gh-runner/_work/MaCh3/MaCh3/build/bin/setup.MaCh3.sh
          source /home/hep/llaatu/mach3/MaCh3Tutorial/build/bin/setup.MaCh3Tutorial.sh

          cd /home/hep/llaatu/mach3/MaCh3Tutorial/build/
          export SYCL_UR_TRACE=-1
          export ACL_CONTEXT_CALLBACK_DEBUG=1          
          ./CIValidations/SplineValidations
          cp out.txt out_$(date +%s).txt

        shell: bash        
