---
# Tag Doxygen Documentation when MaCh3 tag is produced
name: TagDoxygen

on:
  push:
    tags:
      - 'v*'
    branches:
      - 'feature/kskwarczynski/DoxyTest'

permissions:
  contents: write
  packages: write

jobs:
  tag-doxygen:
    name: TagDoxygen
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags

      - name: Fetch gh-pages branch
        run: |
          git fetch origin gh-pages:gh-pages

      - name: Switch to gh-pages-archive branch
        run: |
          git fetch origin gh-pages-archive:gh-pages-archive || \
          git checkout --orphan gh-pages-archive
          git checkout gh-pages-archive

      - name: Copy gh-pages content into archive
        run: |
          TAG_NAME=${{ github.ref_name }}
          TAG_NAME=v2.2.3
          rm -rf "$TAG_NAME/"
          mkdir -p "$TAG_NAME/"
          # Checkout gh-pages content into a temporary directory
          git --work-tree /tmp/gh-pages checkout gh-pages -- .
          # Copy files into archive branch directly under $TAG_NAME/
          rsync -av --progress --exclude='.git' /tmp/gh-pages/ "$TAG_NAME/"

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Archive Doxygen for ${{ github.ref_name }}" || echo "No changes to commit"
          git push origin gh-pages-archive
